<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_aop:war exploded">
    <output-path>$PROJECT_DIR$/spring_aop/artifacts/spring_aop_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_aop" />
          <element id="module-output" name="sprint_ioc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.8.4" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_aop/web/Web" />
      <element id="javaee-facet-resources" facet="sprint_ioc/web/Web" />
    </root>
  </artifact>
</component>